<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegistration</servlet-name>
  	<display-name>UserRegistration</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.UserRegistration</servlet-class>
  </servlet>
 
 
 
  <servlet>
  	<servlet-name>ViewEmployee</servlet-name>
  	<display-name>ViewEmployee</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.ViewEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEmployee</servlet-name>
  	<display-name>DeleteEmployee</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.DeleteEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditEmployeeByAdmin</servlet-name>
  	<display-name>EditEmployeeByAdmin</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.EditEmployeeByAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProject</servlet-name>
  	<display-name>AddProject</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.AddProject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProject</servlet-name>
  	<display-name>ViewProject</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.ViewProject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProject</servlet-name>
  	<display-name>DeleteProject</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.DeleteProject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditEmployee</servlet-name>
  	<display-name>EditEmployee</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.EditEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProjectByadmin</servlet-name>
  	<display-name>EditProjectByadmin</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.EditProjectByadmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditEmployee2</servlet-name>
  	<display-name>EditEmployee2</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.EditEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserViewByEmployee</servlet-name>
  	<display-name>UserViewByEmployee</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.UserViewByEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewEmployeeByprojectManager</servlet-name>
  	<display-name>ViewEmployeeByprojectManager</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.ViewEmployeeByprojectManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAllocation</servlet-name>
  	<display-name>AddAllocation</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.AddAllocation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAssignProject</servlet-name>
  	<display-name>ViewAssignProject</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.ViewAssignProject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Editassignproject</servlet-name>
  	<display-name>Editassignproject</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.Editassignproject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deleteassignproject</servlet-name>
  	<display-name>Deleteassignproject</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.Deleteassignproject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadAllProjectByEmployee</servlet-name>
  	<display-name>ReadAllProjectByEmployee</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.ReadAllProjectByEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Edituserbyuser</servlet-name>
  	<display-name>Edituserbyuser</display-name>
  	<description></description>
  	<servlet-class>serversideclasses.Edituserbyuser</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
  	<servlet-name>UserRegistration</servlet-name>
  	<url-pattern>/user-registration.html</url-pattern>   
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>ViewEmployee</servlet-name>
  	<url-pattern>/view-employee.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEmployee</servlet-name>
  	<url-pattern>/delete-employee.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditEmployeeByAdmin</servlet-name>
  	<url-pattern>/edit-employeebyadmin.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProject</servlet-name>
  	<url-pattern>/add-project.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProject</servlet-name>
  	<url-pattern>/view-project.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProject</servlet-name>
  	<url-pattern>/delete-project.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditEmployee</servlet-name>
  	<url-pattern>/edit-employee.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProjectByadmin</servlet-name> 
  	<url-pattern>/edit-projectbyadmin.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditEmployee2</servlet-name>
  	<url-pattern>/edit-Employee-servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserViewByEmployee</servlet-name>
  	<url-pattern>/user-view-by-employee.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewEmployeeByprojectManager</servlet-name>
  	<url-pattern>/ViewEmployeeByprojectManager.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAllocation</servlet-name>
  	<url-pattern>/add-allocation.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAssignProject</servlet-name>
  	<url-pattern>/view-assignproject.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Editassignproject</servlet-name>
  	<url-pattern>/edit-assignproject.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deleteassignproject</servlet-name>
  	<url-pattern>/delete-assignproject.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadAllProjectByEmployee</servlet-name>
  	<url-pattern>/read-AllProjectByEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Edituserbyuser</servlet-name>
  	<url-pattern>/edituser-byuser.html</url-pattern>
  </servlet-mapping>
 
</web-app>
